.button-container {
  @apply relative;
  padding: 50% 0;
  .button {
    @apply w-full h-full absolute top-0 left-0 flex items-center justify-center;
    color: #fff;
    font-weight: 500;
    font-size: 1.75rem;
    background-color: rgba(255,255,255, 0.1);
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    outline: none;
    &:hover {
      background-color: rgba(255,255,255, 0.2);
    }
  }
  &.active {
    .button {
      background-color: rgba(255,255,255, 0.30);
      border-color: rgba(255,255,255, 0.30);
    }
  }  

}